# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JavaProjects\Java设计模式\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
